.mdl-grid
  %h1 Posts

= render 'form', post: @post.presence || Post.new

.mdl-grid
  %h2 投稿一覧

.mdl-grid
  %table.posts-table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric Posts
        %th 投稿日時
    %tbody
      = render @posts
